<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inspection.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Inspection.My.MySettings>
            <setting name="BalloonPos" serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="BalloonSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BalloonStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LinP0" serializeAs="String">
                <value>0.03125</value>
            </setting>
            <setting name="LinP1" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="LinP2" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="LinP3" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="LinP4" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="LinN0" serializeAs="String">
                <value>-0.03125</value>
            </setting>
            <setting name="LinN1" serializeAs="String">
                <value>-0.03</value>
            </setting>
            <setting name="LinN2" serializeAs="String">
                <value>-0.01</value>
            </setting>
            <setting name="LinN3" serializeAs="String">
                <value>-0.005</value>
            </setting>
            <setting name="LinN4" serializeAs="String">
                <value>-0.001</value>
            </setting>
            <setting name="AngP0" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AngP1" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="AngP2" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="AngN0" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="AngN1" serializeAs="String">
                <value>-0.25</value>
            </setting>
            <setting name="AngN2" serializeAs="String">
                <value>-0.1</value>
            </setting>
            <setting name="PUoM" serializeAs="String">
                <value>Inch</value>
            </setting>
            <setting name="SUoM" serializeAs="String">
                <value>Millimeter</value>
            </setting>
            <setting name="AUoM" serializeAs="String">
                <value>Degrees</value>
            </setting>
        </Inspection.My.MySettings>
    </userSettings>
</configuration>
